* {
  box-sizing: border-box;
}

//------------------------------------------------------------------------------

// Variables

// ------------------------------------------------------------------------------

@min: 0%;
@max: 100%;
@font: 'ingra-2', sans-serif;
@font2: 'beloved-sans', sans-serif;
@main-font-color: rgb(209, 209, 209);
@light-font-color: rgb(143, 143, 143);
@main-bg-color: rgb(16, 16, 15);

@highlight-red: rgb(175, 41, 31);

//--------------------------
// Media Queries
// -------------------------

@smartphone-all: ~"only screen and (max-width: 479px) and (orientation: portrait)";
@smartphone-all-landscape: ~"only screen and (max-width: 736px) and (orientation: landscape)";

@smartphone-small: ~"only screen and (max-width: 330px) and (orientation: portrait)";

@smartphone: ~"only screen and (min-width: 330px) and (max-width: 400px) and (orientation: portrait)";

@smartphone-medium: ~"only screen and (min-width: 400px) and (max-width: 410px) and (orientation: portrait)";

@smartphone-big: ~"only screen and (min-width: 410px) and (max-width: 479px) and (orientation: portrait)";

@tablet-small: ~"only screen and (min-width: 760px) and (max-width: 1024px) and (orientation: portrait)";
@tablet-big: ~"only screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: portrait)";

@iPad-landscape: ~"only screen and (width: 1024px) and (height: 768px) and (orientation: landscape)";

@big-screen: ~"only screen and (min-width: 1900px)";

//------------------------------------------------------------------------------

//------------------------------------------------------------------------------

// Classes

// ------------------------------------------------------------------------------

.nobound {
  margin: @min;
  padding: @min;
}

.fs {
  width: @max;
  height: @max;
}

.display (@value: block) {
  display: @value;
}

.position (@pos: absolute) {
  position: @pos;
}

.aligntext (@align: center) {
  text-align: @align;
}

/*   Mixin for perfect absolute positioning - centering    */
.p-center {
  .position;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.rel {
  .position(relative);
}

.abs {
  .position;
}

.bg-setup {
  background-position:  center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  -ms-content-zooming: none;
}

//-------------------------------------------------------------

body, html, div, span, p, a, img, header, footer, span, ul, li, section, nav, aside, article, figure, figcaption, h1, h2, h3, h4, h5, h6, i {
  .display;
  .nobound;
  //outline: red 1px solid;

  &:focus {
    border: none;
    outline: none;
  }
}

body,html {
  .fs;
  color: @main-font-color !important;
  font-family: @font !important;
  font-size: @max; // font-size: 100% // Needs to be defined for correct responsive resizing of text
  font-weight: 100 !important;
  //font-weight: 700 !important; - This one is necessary for Beloved Sans Bold
  font-style: normal !important;
  letter-spacing: 0.2em;
  overflow-x: hidden;
  overflow-y: scroll;
}

//-------------------------------------------------------------

//                        Main CSS

//-------------------------------------------------------------

.section-template {
  background: @main-bg-color;
  //
  display: none;
  opacity: 0;
  transition: opacity 1s;
  //
  width: @max;
  height: 100vh;

  .container-fluid {
    .fs;
    .nobound;
    //
    .rel;

    //-------------------------------------------------------------

    // Section Hero Image
    .jh-hero-image {
      .display(inline-block);
      height: @max;
      width: auto;
    }

    //-------------------------------------------------------------

    // Section Thumb Text
    .jh-thumb-text {
      .abs;
      width: 15vw;
      right: -1.5vw;
      bottom: 11vw;
      transform: rotate(-90deg);
      //
      opacity: 0.5;
    }

    //-------------------------------------------------------------

    // Page Logo Image
    .jh-page-logo {
      .p-center;
      width: 4vw;
      //
      top: 13.5vh;

      &:hover {
        cursor: pointer;
      }
    }

    //-------------------------------------------------------------

    // Page Content Container
    .jh-page-container {
      .p-center;
      .aligntext;
      //
      width: 60vw;
      height: 45vh;
      //
      overflow: visible; // just dev

      .jh-page-paragraph {
        color: @light-font-color !important;
        font-family: ingra-2, sans-serif !important;
        font-weight: 200 !important;
        font-style: normal !important;
        font-size: 1vw;
        //
        line-height: 4vh;
        margin-bottom: 5vh;
        letter-spacing: 0.4em;

        span.jh-strong {
          .display(inline);
          //
          color: @main-font-color !important;
          font-style: normal !important;
          font-weight: 500 !important;

          .jh-red-divider {
            .display(inline);
            color: @highlight-red;
          }
        }
      }
    }

    //-------------------------------------------------------------

    // Read More Button
    .jh-read-more-button {
      .position;
      bottom: 11vh;
      left: 50%;
      transform: translate(-50%, -50%);
      //
      color: @light-font-color !important;
      font-family: ingra-2, sans-serif !important;
      font-weight: 200 !important;
      font-style: normal !important;
      font-size: 0.9vw;
      letter-spacing: 0.4em;

      &:hover {
        cursor: pointer;

        span {
          color: @main-font-color !important;
        }
      }

      img {
        .display(inline-block);
        width: 0.6vw;
        margin-right: 0.2vw;
      }

      span {
        .display(inline-block);
      }
    }

    //-------------------------------------------------------------

    // Page Counter
    .jh-page-counter {
      .position;
      bottom: 9vh;
      right: 0vw;
      transform: translate(-50%, -50%);
      overflow: visible;
      //
      width: 8vw;
      height: 4.25vh;
      //
      font-size: 1.5vw;

      div {
        .display(inline-block);
      }

      .jh-pc-container {
        .display(inline-block);
        .p-center;
        width: 80%;
        //
        overflow: visible;

        #jh-pc-current, #jh-pc2-current {
          font-weight: 600 !important;
        }

        .jh-pc-divider {
          width: 1vw;
        }

        .jh-pc-total {
          font-family: ingra-2, sans-serif !important;
          font-weight: 100 !important;
          font-style: normal !important;
          opacity: 0.7;
          //
          .abs;
          bottom: 0;
          margin-left: 0.7vw;
        }
      }
    }

    //-------------------------------------------------------------

    // Page Bar Indicator
    .jh-bar-indicator {
      .position;
      top: 50%;
      right: 5vw;
      transform: translate(-50%, -50%);
      //
      height: 45vh;
      width: 0.1vw;
      //
      background: @light-font-color;

      .jh-bar-indicator-thumb-container {
        .fs;
        .rel;

        .jh-bar-indicator-thumb {
          .abs;
          top: 0;
          width: @max;
          height: 33%;
          //
          background: @main-font-color;
          transition: top 2s;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}

body {
  background: @main-bg-color;
  height: auto;

  //-------------------------------------------------------------

  main {
    width: @max;
    height: 100vh;

    //-------------------------------------------------------------

    ul {
      font-family: @font !important;
      color: @main-font-color !important;
      list-style-type: none;

      li {
        font-family: @font !important;
        color: @main-font-color !important;
        list-style-type: none;
        opacity: 0.7;
        transition: opacity 1s;

        &:hover {
          cursor: pointer;
          opacity: 1;
          transition: opacity 1s;
        }
      }
    }

    //-------------------------------------------------------------

    // Menu Icon

    #menu-icon {
      width: 2.5vw;
      //
      .position;
      top: 13.5vh;
      right: 4vw;
      transform: translate(-50%, -50%);
      //
      overflow: visible !important;
      //
      opacity: 0.7;
      transition: opacity 1s;
      z-index: 9999 !important;

      #menu-icon-default {
        .fs;
      }

      #menu-icon-tooltip {
        margin-top: 1.5vh;
        font-size: 0.7vw;
        font-weight: 600;
        //
        opacity: 0;
        transition: opacity 1s;
      }

      &:hover {
        cursor: pointer;
        opacity: 1;
        transition: opacity 1s;

        #menu-icon-tooltip {
          opacity: 1;
          transition: opacity 1s;
        }
      }
    }

    //-------------------------------------------------------------

    // Header

    header#jh-header {
      width: @max;
      height: 100vh;
      color: @main-font-color;
      //
      opacity: 1;
      transition: opacity 1s;
      //
      opacity: 0;     // just for dev [Contact]
      .display(none); // just for dev [Contact]

      .container-fluid {
        .fs;
        .nobound;

        img#jh-hero-logo {
          .p-center;
          width: 6vw;
          //
          top: 17%;

          @media @smartphone-all {
            width: 20vw;
          }
        }

        img#jh-hero-heading {
          .p-center;
          width: 29vw;
          //
          top: 35.5%;

          @media @smartphone-all {
            width: 70vw;
          }
        }

        div#jh-hero-subheading {
          .p-center;
          .aligntext;
          font-family: @font !important;
          font-size: 1vw;
          letter-spacing: 0.405em;
          //
          top: 42%;
          left: 50.2%;
          //
          opacity: 0.8;

          @media @smartphone-all {
            font-size: 2.43vw;
            width: 70vw;
          }
        }

        img#jh-hero-image {
          .position;
          left: 50%;
          bottom: 0;
          transform: translate(-50%, 0%);
          width: 27vw;
        }
      }
    }

    //-------------------------------------------------------------

    // Menu

    #jh-menu {
      width: @max;
      height: 100vh;
      color: @main-font-color !important;
      //
      opacity: 0;
      transition: opacity 1s;

      .container-fluid {
        .fs;
        .nobound;

        img#jh-menu-logo {
          .p-center;
          width: 6vw;
          //
          top: 17%;
        }

        ul#jh-menu-list {
          font-family: @font !important;
          color: @main-font-color !important;
          //
          .p-center;

          li {

          }
        }
      }
    }

    //-------------------------------------------------------------

    // About

    #jh-about {
      .section-template;
      //
      .container-fluid {

        //-------------------------------------------------------------

        // About | Content Pages

        // 1
        #jh-about-content-1 {
          .display(block);
          opacity: 1;
          transition: 1s opacity;
        }

        // 2
        #jh-about-content-2 {
          .display(none);
          opacity: 0;
          transition: 1s opacity;
        }

        // 3
        #jh-about-content-3 {
          .display(none);
          opacity: 0;
          transition: 1s opacity;
        }
      }
    }

    //-------------------------------------------------------------

    // Tech Stack
    #jh-tech-stack {
      .section-template;
      //
      .container-fluid {

        .jh-page-container {
          .jh-page-paragraph:first-child {
            font-size: 1.2vw !important;
          }
        }

        //-------------------------------------------------------------

        // Tech Stack | Content Pages

        // 1
        #jh-tech-content-1 {
          .display(block);
          opacity: 1;
          transition: 1s opacity;
        }

        // 2
        #jh-tech-content-2 {
          .display(none);
          opacity: 0;
          transition: 1s opacity;
        }

        // 3
        #jh-tech-content-3 {
          .display(none);
          opacity: 0;
          transition: 1s opacity;
        }
      }

      //-------------------------------------------------------------

      // Tech Stack List

      .jh-tech-stack-list {
        .display(flex);
        width: @max;
        height: 11vh;
        margin-top: 7vh;
        //
        overflow: visible !important;

        .jh-tech-stack-list-item {
          flex: 1;
          height: @max;
          transition: transform 1s;
          overflow: visible !important;

          &:hover {
            transform: scale(1.1);
            transition: transform 1s;
          }

          img {
            width: 50%;
            margin: 0 auto 2vh;
          }

          span.jh-tsl-thumb {
            .aligntext;
            font-size: 0.7vw;
            letter-spacing: 0.1em;
            font-weight: 100;
          }
        }
      }

      #jh-tech-stack-2 {
        width: 36%;
        margin: auto;
      }

      #jh-tech-stack-3 {
        width: 60%;
        margin: auto;
      }
    }

    //-------------------------------------------------------------

    // Contact
    #jh-contact {
      .section-template;
      //
      .display(block); // just for dev
      opacity: 1;      // just for dev
      //
      .container-fluid {

        //-------------------------------------------------------------

        // Page Hero Image
        #jh-contact-hero-image {
          height: 80%;
          position: absolute;
          top: 15%;
          left: 0;
        }

        //-------------------------------------------------------------

        // Contact Form
        #jh-contact-form {
          width: 70%;
          margin: auto;


          form#jh-cf {
            width: @max;

            .form-group {

              .jh-cf-indicator {
                .display(inline-block);
                width: 0.8vw;
                height: @max;
                //
                float: left;
                margin-right: 0.5vw;

                img {
                  .display(inline-block);
                  width: @max;
                  height: auto;
                }
              }

              // Default Styling
              input, textarea {
                .display(inline-block);
                width: 90%;
                // Clear all styling
                background: none !important;
                border: none !important;
                outline: none !important;
                box-shadow: none !important;
                border-radius: 0 !important;
                resize: none !important;
                //
                color: @light-font-color !important;
                font-family: ingra-2, sans-serif !important;
                font-weight: 200 !important;
                font-style: normal !important;
                font-size: 1vw;
                //
                line-height: 4vh;
                letter-spacing: 0.4em;
                text-transform: uppercase !important;
              }
            }

            .form-control {
              padding: 0 !important;
            }

            .fg1, .fg2 {
              .display(inline-block);
              width: 48%;
              height: 7vh;
              float: left;
              //
              border-bottom: 0.5px @light-font-color solid;
              line-height: 7vh;
              //
              margin-bottom: 4vh;
            }

            .fg2 {
              float: right;
            }

            .fg3 {
              .display(block);
              width: @max;
              height: 18vh;
              //
              border-bottom: 0.5px @light-font-color solid;

              .jh-cf-indicator {
                height: 7vh;
                line-height: 7vh;
              }

              textarea {
                width: calc(100% - 2vw);
                line-height: 7vh;
                float: right;
              }
            }
          }
        }

        //-------------------------------------------------------------

        // Submit Button

        #jh-submit-form {

          &:hover {
            cursor: not-allowed;
          }
        }
      }
    }

    //-------------------------------------------------------------

  }
}